body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    max-height: 80vh;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(51, 0, 102, 0.9);
}

h1 {
    color: #639;
    font-size: 36px;
    margin-bottom: 20px;
}
h2 {
    color: #639;
    width: 25vw;
    margin-bottom: 0;
}

.game-buttons {
    overflow: scroll;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 12px 24px;
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
    background-color: #663399;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(100,100,100, 0.9);
    font-weight: bold;
}

button:hover {
    background-color: #552288;
}

#hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(to bottom, #436, #141414, #141414, #141414, #141414);
    }
    .container {
        background-color: #222;
        box-shadow: 0 4px 8px rgba(51, 0, 102, 0.9);
    }
    button {
        color: #111;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.9);
    }
}