/* Default Settings */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #eee;
}

/* Header */
    /* Default */
header {
    text-align: center;
    background-color: #1A1A1A;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
    /* Default Elements */
header * {
    color: #eee;
}
    /* Hover Elements */
header *:hover {}

/* Main Body */
    /* Default */
main {
    /*max-width: 800px; */
    width: 60%;
    height: 160vh;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px #111f;
}


/* Footer */
    /* Default */
footer {
    text-align: center;
    color: #eee;
    background-color: #1A1A1A;
    padding: 15px;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    margin: 0;
    padding: 1% 0;
}
    /* Default Elements */
footer * {
    color: #eee;
    text-decoration: none;
}
    /* Hover Elements */
footer *:hover {
    color:#aaa;
}